/* responsive form W3Schools with background IMG 
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_form_on_image  */ 

/* background  big image form */


* {
    box-sizing: border-box;
}

.bg-img {
    /* The image used */
    background-image: url("https://picsum.photos/4342/2895?image=947");

    /* Control the height of the image */
    min-height: 360px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1em;
}

/* Add styles to the form container */
.container {
    max-width: 530px;
    padding: 1em;
    background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit button */
.btn {
    background-color: Maroon; /*#4CAF50;*/
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}